
body{

  background-color: black;
  color: white;
}

.footer{
  display: block;
  width:100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1{
  font-size: 350%;
}

.img-size{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.img-size-p{
  width: 100%;
  max-width: 400px;
  height: auto;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}

a:hover{
  color: #FF00A6;
}

* {
  box-sizing: border-box;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
  color: #000000;
}

.menu-title {
  display: block;
  width: 200px;
  height: auto;
  background: #000000;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  position: absolute;
}

.menu-title:hover{
  color: #FF00A6;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
}
.menu-dropdown {
  min-width: 100%;
  padding: 12px 0;
  position: absolute;
  background: #ffffff;
  z-index: 100;
  transition:
    0.5s padding,
    0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #ffffff;
  z-index: 99;
}
.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  max-height: auto;
  padding: 5px 10px;
  background: rgba(0,0,0,0);
  transition: 
    0.5s height cubic-bezier(.73,.32,.34,1.5),
    0.5s padding cubic-bezier(.73,.32,.34,1.5),
    0.5s margin cubic-bezier(.73,.32,.34,1.5),
    0.5s 0.2s color,
    0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0,0,0,0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25,25,25,0);
  transition: 
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}

.clignote {
  color:#FF00A6;
  animation: clignote 2s linear infinite;
}
@keyframes clignote {  
  50% { opacity: 0; }
}

.contact {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}

 .contact:hover{
  transition: transform 150ms;
  
}

.contact-dropdown > * {
  padding: 5px 10px;
  transition-duration:500ms;
  transition-property: transform;
  transition-timing-function:cubic-bezier(.73,.32,.34,1.5);
  transition-delay: 500ms;
}

.contact:not(:hover) > .contact-dropdown > * {
  transform: translateX(250px);
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  z-index: -1;
}

.iframe-container iframe{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

.carousel-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

#carouselExp {
    width: 100%;
    z-index: -1;
}

  .Tcontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 10px auto;
    position: relative;
    z-index: -1;
  }
  
  .timeline ul {
    list-style: none;
    z-index: -1;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: -1;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
    z-index: -1;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    z-index: -1;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    z-index: -1;
  }
  .timeline-content .date {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    z-index: -1;
  }
  
  @media (max-width: 576px) {
    
 
    .img-size{
      display: none;
    }

    .img-size-p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      z-index: -1;
    }

    .contact{
      display: none;
    }

    .carousel-control-prev{
      display: none;
    }

    .carousel-control-next{
      display: none;
      }
  }
  
  @media (min-width: 576px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      transform: translateX(-200%);
      width: 5px;
      height: 100%;
      background-color: white;
    
    }
  }